@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: 'Quicksand', sans-serif;
}

.container {
  width: 400px;
  margin: 40px auto;
  padding: 20px;
  background-color: red;

  /* scroll functionality */
  height: 80vh;
  box-sizing: border-box;
  overflow: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.card {
  background: #333;
  color: #f2f2f2;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 20px auto;
  font-size: 1.2rem;
}

.card h2 {
  margin-bottom: 0;
}

.card p {
  margin-top: 4px;
}

.card .lead {
  font-size: 0.75rem;
}

.load-more {
  text-align: center;
  display: none;
}

button {
  margin-bottom: 40px;
  font-size: 2rem;
}

.loading {
  display: none;
}

.loading.active {
  display: block;
  font-size: 2rem;
  text-align: center;
}
